<template>
<div>
  <Sidebar />
  <Mp3Player />
  </div>
</template>

<script>
import Sidebar from './components/Sidebar.vue'
import Mp3Player from './components/Mp3Player.vue'
export default {
  name: 'App',
  components: {
    Sidebar,
    Mp3Player
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: auto;
  color: #2c3e50;
  margin-top: 0;
}
</style>
