@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root {
    --main-bg-color: #1E1C1C;
    --sidebar-bg-color: black;
    --main-text-color: white  ;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
    --font-mp3-brand: font-family: 'Poppins', sans-serif;
    --text-logo-color: #27B9E7;
    
  }
  
  *{
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
  padding: 0;
  background-color: #222;
  font-size: 14px;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
  }
  
  .box{
    max-width: 400px;
    width: 100%;
  }

  .box .search-box {
    position: relative;
    height: 40px;
    max-width: 380px;
    margin: auto;
    
  }
  .search-box input {
    position: absolute; 
    height: 100%;
    width: 105%;
      border-radius: 0;
      background: #fff;
      outline: none;
      border: none;
      padding-left: 20px;
      font-size: 18px;
  }

.search-box .icon{
  position: absolute;
  right: 0;
  line-height: 40px;
}


.btn {
  font-family: arial;
  font-size: 15px;
  width: 230px;
  padding: 15px 0px;
  text-align: center;
  margin: 60px 0px;
  border-radius: 22px;
  font-weight: bold;
  border: 2px solid var(--text-logo-color);
  background: var(--text-logo-color);
  color: #fff;
  cursor:pointer;

}

.btn:hover {
  font-family: arial;
  width: 230px;
  padding: 15px 0px;
  text-align: center;
  margin: 60px 0px;
  border-radius: 22px;
  font-weight: bold;
  border: 2px solid var(--text-logo-color);
  background: transparent;
  color: #fff;
  cursor:pointer;
}

tr:hover{
  color:var(--text-logo-color);
    }

.text-color {
  color: var(--text-logo-color);
}

  #sidebar-wrapper .menu .item {
position: relative;
cursor: pointer;

  }
  #sidebar-wrapper .menu .item a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 8px 30px;
    line-height: 60px;

  }
  #sidebar-wrapper .menu .item a .dropdown {
    position: absolute; 
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
  }
  #sidebar-wrapper .menu .item .sub-menu {
    background: linear-gradient(
      to right,
      #0ac9ebb2,
      #078ddabb,
      #7030e6be,
      #ad26ebb9,
      #e40aa3be
    );
    display: none; 
  }

  

  
  #sidebar-wrapper .menu .item i{
    transition: 0.3s ease;
    margin-right: 15px;
  }
 

  #sidebar-wrapper .menu .item.showMenu i.dropdown{
    transform: rotate(-180deg);
  }

  #sidebar-wrapper .menu .item.showMenu .sub-menu{
    display: block;
  }

  #sidebar-wrapper .menu .item .sub-menu a{
    font-weight: 400;
    padding-left: 60px;
    line-height: 30px;
  }
  
  
  
  #sidebar-wrapper .menu .item a:hover {
    color: #27B9E7;
  }

  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
 
  
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-color: #1E1C1C ; 
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }

  #page-content-wrapper  .mp3 .arvinx {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

  }
  #page-content-wrapper .navbar .mp3 .box .search-box .settings i.fas{
    padding-left: 100px;
  }

  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
   .table {
      border: none;
      color: var(--main-text-color);
  }

 
  
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -16rem;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #222;
    font-size: 14px;
}


.music-play {
  --primary-color: #ddd;
  --secondary-color: #999;
  
  --padding: 0em;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 4rem;
  padding: var(--padding);
  color: var(--primary-color);
}
i{
  color: var(--primary-color);
}
i:hover{
  color: var(--secondary-color);
}
.song-bar {
  position: absolute;
  left: var(--padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}
.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-description p {
  margin: 0.2em;
}
.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title:hover,
.artist:hover {
  text-decoration: underline;
}
.artist{
  color: var(--secondary-color);
}

.progress-controller{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  color: var(--secondary-color);
}
.control-buttons{
  display: flex;
  align-items: center;
gap: 2em;
}
.play-pause{
  justify-content: center;
  display: inline-block;
  padding: 1em;
  background-color: var(--text-logo-color);
  color: white;
  border-radius: 50%;
}


.progress-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.progress-bar{
  height: 4px;
  width: 100%;
  background-color: rgba(39, 38, 38, 0.267);
}
.progress{
  position: relative;
  height: 100%;
  width: 30%;
  background-color: #27bae7af ;
}

.other-features{
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.volume-bar{
  display: flex;
  align-items: center;
  gap: .7em;
}
.volume-bar .progress-bar{
  width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
  --size: .8em;
}

#modal {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  
  z-index:1;
  display: block;
  align-items: center;
}

