

:root {
    --primary: #009688;
    --dark: #21252f;
    --body: rgb(0, 0, 0);
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
    --font:'Poppins', sans-serif;
    
}


body {
    font-family: var(--font);
    line-height: 1.1;
    color: var(--body); 
}

.collapse {
    font-weight:normal;
    font-size: 15px;
    font-family: var(--font);
    
}


.display-1 {
    color: var(--dark);
    font-weight: 700;
    font-size: 100px;
}
 h3 {
    line-height: 4px;
}

a {
    color: var(--dark);
    text-decoration: none;
}





.btn {
        font-family: arial;
       width: 200px;
       padding: 15px 0px;
       text-align: center;
       margin: 60px 0px;
       border-radius: 25px;
       font-weight: bold;
       border: 2px solid #009688;
       background: transparent;
       color: #fff;
       cursor:pointer;

    }

.btn:hover {
 background: #009688;
 border: none;
 color: rgb(240, 234, 234);
 
}


  
.Philippines {
  background-image: url(Images/El-nido.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.Philippines::after {
    content : "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(5, 3, 3, 0.664);
    z-index: -1;
}

.navbar .logo {
    width: 160px;
}
 

.navbar ul.navbar-nav li.nav-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
    text-decoration: none;
    color:black;
}
.navbar ul.navbar-nav li.nav-item::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -3px;
transition: 0.5s;
}

.navbar ul.navbar-nav li.nav-item:hover::after{
width: 100%;
}

#destination {
   width: 100%;
   padding: 50px 0;
}

#destination .heading{
    text-align:center;
}
#destination .heading .heading-primary {
    color: var(--primary);
    font-family: var(--font);
    position: relative;
}

#destination .heading .heading-big {
    font-weight: 700;
}


#destination .card-design .card-text{
    background-color: #ffffff;
    width: 250px;
    margin: 0px;
    padding: 10px 8px;
    display:flex;
    justify-content: space-between;
   

}

#destination .card-design .card-text .item .btn-theme {
    padding: 10px 12px;
    border: #b4b2b2 ;
    background:rgb(240, 234, 234); 
}

#destination .card-design .card-text span {
    font-size: 10px;
}

#destination .card-design .card-text span i.fas {
    color: var(--primary);
    margin-right: 4px;
}

#destination .card-design .card-text .item .btn-theme{
    margin: 0px;
    padding: 10px 15px;
    color: var(--primary);
    background-color: #00968752;
}

#destination .card-design .card-text .item {
    align-self: center;
}

#gallery {
    width: 100%;
    padding: 50px 0;
 }

 #Gallery .title{
    text-align:center;
}

#Gallery .title .title-primary{
    color: var(--primary);
    font-family: var(--font);
    position: relative;
}
#Gallery .title .title-big{
    font-weight: 700;
}


