<template>
    <div class="music-play">
      <div class="song-bar">
          <div class="song-infos">
              <div class="image-container">
                <a class="navbar-brand" href="#">
                  <img src = "..//assets/Arvinx.png" alt="#" height="70" weight="180">
              </a>
              </div>
              <div class="song-description">
                  <p class="title fw-bold">
                      Levels- Skrillex Remix
                  </p>
                  <p class="artist fw-bold">Avicii, Skrillex </p>
              </div>
          </div>

      </div>
      <div class="progress-controller">
        <div class="progress-container">
          
          <div class="progress-bar">
              <div class="progress"></div>
          </div>
          
      </div>
          <div class="control-buttons">
              <i class="fas fa-random"></i>
              <i class="fas fa-step-backward"></i>
              <i class="play-pause fas fa-play"></i>
              <i class="fas fa-step-forward"></i>
              <i class="fas fa-undo-alt"></i>
          </div>
          
      </div>
      <div class="other-features pe-4">
          <i class="far fa-heart fs-5"></i>
          <i class="fas fa-volume-down fs-5"></i>
             
          </div>
      </div>


</template>

<script>
export default {
    name:"Mp3-player"
}
</script>


<style scoped>
.music-play {
  --primary-color: #ddd;
  --secondary-color: #999;
  
  --padding: 0em;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  

  height: 4.9rem;
  padding: var(--padding);
  color: var(--primary-color);
}

i{
  color: var(--primary-color);
}
i:hover{
  color: #078ddabb;
  transition: 0.3s ease;
}
.song-bar {
  position: absolute;
  left: var(--padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}
.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}
.image-container img {
  width: 100%;
  height: 40px;
  margin: 19%;
  object-fit: cover;
}
.song-description p {
  margin: 0.2em;
}
.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title:hover,
.artist:hover {
  text-decoration: underline;
}
.artist{
  color: var(--secondary-color);
}

.progress-controller{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  color: var(--secondary-color);
}
.control-buttons{
  display: flex;
  align-items: center;
gap: 2em;
}
.play-pause{
  justify-content: center;
  display: inline-block;
  padding: 1em;
  background-color: #078ddabb;
  color: white;
  border-radius: 50%;
}


.progress-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.progress-bar{
  height: 5px;
  width: 100%;
  background-color: rgba(39, 38, 38, 0.267);
}
.progress{
  position: relative;
  height: 102%;
  width: 30%;
  background-color: #27bae7af ;
}

.other-features{
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.volume-bar{
  display: flex;
  align-items: center;
  gap: .7em;
}
.volume-bar .progress-bar{
  width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
  --size: .8em;
}

</style>