<template>
<div class="d-flex" id="wrapper">

     
<!--Sidebar-->
    <div class="bg-black px-0" id="sidebar-wrapper">
     
      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase ">
        <a class="navbar-brand" href="#">
            <img src = "..//assets/Arvinx.png" alt="#" height="70" weight="180">
        </a>
    </div>
      <div class="list-group list-group-flush my-2">
         
        <div class="menu primary-text">
          <div class="item">
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fas fa-upload me-2"></i>Upload Music</a></div>
           <div class="item fw-bold"><a href="#"><i class="fas fa-music"></i>All Songs</a></div>
          <div class="item fw-bold"><a href="#"><i class="fas fa-plus "></i>Create Playlist</a></div>
          <div class="item fw-bold"><a class="sub-btn"><i class="fas fa-headphones"></i>My Playlist<i class="fas fa-chevron-down dropdown"></i></a>
            <div class="sub-menu">
              <a href="#" class="sub-item">Chill ka muna!</a>
              <a href="#" class="sub-item">This is Marshmello</a>
              <a href="#" class="sub-item">Workout</a>
            </div>
          </div>
         
          <div class="item fw-bold"><a href="#"><i class="fas fa-user"></i>Artist</a></div>
          <div class="item fw-bold"><a href="#"><i class="fas fa-compact-disc"></i>Album</a></div>

       
        
      </div>
    </div>
    </div>   
 <!--Sidebar-->

<!--Page content-->
 <div id="page-content-wrapper">

<nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
  
  <div class="mp3 d-flex align-items-center">
    <i class="fas fa-bars primary-text fs-3 me-3" id="menu-toggle"></i>
    <h1 class="arvinx fs-4 m-0 text-color fw-bold me-2">ArvinX</h1>   
  </div>

  <div class="box ">
    <div class="search-box">
      <input type="text" placeholder="Artist, Songs">
      <label for="" class="icon">
        <i class="fas fa-search fs-5 me-6"></i>
      </label>
    </div>
  </div>
</nav>
  
<!--table-->
<div class="music-table">
<div class="container">
  
<div class="row my-5">
  
    <h3 class="fs-2 ms-0 primary-text fw-bold">All Songs<a href="#" class="btn btn-primary ms-4 m-4">SHUFFLE PLAY</a></h3>
    <div class="col">
        <table class="table table-borderless">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                    <th scope="col">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Know Me</td>
                    <td>Marshmello</td>
                    <td>Joytime</td>
                    <td>3:26</td>
                </tr>
                <tr>
                    
                  <td>Levels- Skrillex Remix</td>
                  <td>Avicii, Skrilex</td>
                  <td>Levels</td>
                  <td>3:50</td>
                </tr>
                <tr>
                    
                  <td>Cloud Day</td>
                  <td>Tones And I</td>
                  <td>Welcome to the madhouse</td>
                  <td>3:02</td>
                </tr>
                <tr>
                    
                  <td>Fly</td>
                  <td>Login, Marshmello</td>
                  <td>Joytime III</td>
                  <td>4:01</td>
                </tr>
                <tr>
                    
                  <td>Run</td>
                  <td>OneRepublic</td>
                  <td>Run</td>
                  <td>4:25</td>
                </tr>
                <tr>
                    
                  <td>Maniac</td>
                  <td>Conan Gray</td>
                  <td>Run</td>
                  <td>3:05</td>
                </tr>
                <tr>
                    
                  <td>Happier</td>
                  <td>Olivia Rodrigo</td>
                  <td>Sour</td>
                  <td>3:35</td>
                </tr>
                <tr>
                    
                  <td>Falling</td>
                  <td>Harry Styles</td>
                  <td>Fine Line</td>
                  <td>3:53</td>
                </tr>
                <tr>
                    
                  <td>Ruin My Life</td>
                  <td>Zara Larsson</td>
                  <td>Ruin My LIfe</td>
                  <td>3:10</td>
                </tr>
                <tr>
                  <td>Fearless</td>
                  <td>Lost Sky</td>
                  <td>Fearless</td>
                  <td>3:14</td>
                </tr>
                <tr>
                    
                  <td>Shoota</td>
                  <td>RemK</td>
                  <td>Shoota</td>
                  <td>3:44</td>
                </tr>
                <tr>
                    
                  <td>Wake Up</td>
                  <td>Avicii</td>
                  <td>True</td>
                  <td>4:07</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
 </div>

</div>

<!--Music play-->

</template>

<script>

export default {
  name: "Sidebar"
  
}

</script>



<style scoped>
:root {
    --main-bg-color: #1E1C1C;
    --sidebar-bg-color: black;
    --main-text-color: white  ;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
    --text-logo-color: #27B9E7;
    
  }
  
  *{
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
  padding: 0;
  background-color: #222;
  font-size: 14px;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
  }
  
  .box{
    max-width: 400px;
    width: 100%;
  }

  .box .search-box {
    position: relative;
    height: 40px;
    max-width: 380px;
    margin-left: 3em;

    
  }
  .search-box input {
    position: absolute; 
    height: 100%;
    width: 105%;
      border-radius: 0;
      background: #fff;
      outline: none;
      border: none;
      padding-left: 10px;
      font-size: 18px;
      margin-left: 2px;
  }

.search-box .icon{
  position: absolute;
  right: 0;
  line-height: 40px;
  
  

}


.btn {
  font-family: arial;
  font-size: 15px;
  width: 230px;
  padding: 15px 0px;
  text-align: center;
  margin: 60px 0px;
  border-radius: 22px;
  font-weight: bold;
  border: 2px solid #27B9E7;
  background: #27B9E7;
  color: #fff;
  cursor:pointer;

}

.btn:hover {
  font-family: arial;
  width: 230px;
  padding: 15px 0px;
  text-align: center;
  margin: 60px 0px;
  border-radius: 22px;
  font-weight: bold;
  border: 2px solid #27B9E7;
  background: transparent;
  color: #fff;
  cursor:pointer;
}

.music-table .container .row .fs-2{
  color: #fff;
  text-align: left;
  padding-left: 1.5em;
}

 tr{
 color:white;
}

tr:hover{
  color: #27B9E7;
    }

.text-color {
  color: #27B9E7;
}

  #sidebar-wrapper .menu .item {
    
position: relative;
cursor: pointer;

  }
  #sidebar-wrapper .menu .item a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 8px 30px;
    line-height: 60px;

  }
  #sidebar-wrapper .menu .item a .dropdown {
    position: absolute; 
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
  }
  #sidebar-wrapper .menu .item .sub-menu {
    background: linear-gradient(
      to right,
      #0ac9ebb2,
      #078ddabb,
      #7030e6be,
      #ad26ebb9,
      #e40aa3be
    );
    display: none; 
  }

  

  
  #sidebar-wrapper .menu .item i{
    transition: 0.3s ease;
    margin-right: 15px;
  }
 

  #sidebar-wrapper .menu .item.showMenu i.dropdown{
    transform: rotate(-180deg);
  }

  #sidebar-wrapper .menu .item.showMenu .sub-menu{
    display: block;
  }

  #sidebar-wrapper .menu .item .sub-menu a{
    font-weight: 400;
    padding-left: 60px;
    line-height: 30px;
  }
  
  
  
  #sidebar-wrapper .menu .item a:hover {
    color: #27B9E7;
  }

  
  .primary-text {
    color: white;
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
 
  
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-color: #1E1C1C ; 
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }

  #page-content-wrapper  .mp3 .arvinx {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

  }
  #page-content-wrapper .navbar .mp3 .box .search-box .settings i.fas{
    padding-left: 100px;
  }

  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }

 .music-table .container .fs-2{
      margin-left:30em;
  }
  
   .table {
      border: none;
      color: var(--main-text-color);
  }

 
  
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -16rem;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #222;
    font-size: 14px;
}


.music-play {
  --primary-color: #ddd;
  --secondary-color: #999;
  
  --padding: 0em;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 4rem;
  padding: var(--padding);
  color: var(--primary-color);
}
i{
  color: var(--primary-color);
}
i:hover{
  color: var(--secondary-color);
}
.song-bar {
  position: absolute;
  left: var(--padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}
.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-description p {
  margin: 0.2em;
}
.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title:hover,
.artist:hover {
  text-decoration: underline;
}
.artist{
  color: var(--secondary-color);
}

.progress-controller{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  color: var(--secondary-color);
}
.control-buttons{
  display: flex;
  align-items: center;
gap: 2em;
}
.play-pause{
  justify-content: center;
  display: inline-block;
  padding: 1em;
  background-color: var(--text-logo-color);
  color: white;
  border-radius: 50%;
}


.progress-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.progress-bar{
  height: 4px;
  width: 100%;
  background-color: rgba(39, 38, 38, 0.267);
}
.progress{
  position: relative;
  height: 100%;
  width: 30%;
  background-color: #27bae7af ;
}

.other-features{
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.volume-bar{
  display: flex;
  align-items: center;
  gap: .7em;
}
.volume-bar .progress-bar{
  width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
  --size: .8em;
}

#modal {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  
  z-index:1;
  display: block;
  align-items: center;
}


</style>
